---
---

@import "{{ site.theme }}";

body{
    background-color:antiquewhite;
    font: 100% Helvetica, Sans-serif;
}

.clearfix::after{
    content:"";
    clear:both;
    display: table;
}

.content-left{
    @media all and (min-width: 960px){
        width: 66%;
        float: left;
        padding-right: 20px;
    }
}

.content-right{
    @media all and (min-width: 960px){
        width: 66%;
        float: right;
        padding-left: 20px;
    }
}

.img-right{
    @media all and (min-width: 960px){
        width: 50%;
        float: right;
    }
}
.img-left{
    @media all and (min-width: 960px){
        width: 50%;
        float: left;
    }
}

img{
    max-width: 100%;
    height: auto;
}